


<h1>Choose Your Monster!</h1><br />

{{#each monsters}}

<a href="{{../baseUrl}}/{{id}}"> <img class="monsterimg" src="{{monster_img}}"></a>

{{/each}}

<br/>
<h1>Choose Your City!</h1><br />
{{#each cities}}

<a href="{{../baseUrl}}/{{id}}"> <img class="monsterimg" src="{{city_img}}"></a>

{{/each}}

<br />

<br />

<a href="/result">Attack!</a>
